body {
  margin: 0;
}
/* NAVBAR START */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 70px;
  padding: 0 20px;
  position: relative;
  z-index: 999;
}

.logo {
  align-items: center;
  height: 100%;
}


.logo-image {
  width: 90%;
  height: 95%;
  object-fit: contain;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.logo-image:hover {
  background-color: lightblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 70px;
  min-width: 600px; /* adjust this value to fit your logo */
  padding: 0 20px;
  position: relative;
  z-index: 999;
}

.navbar-menu {
  display: flex;
  text-align: center;
}

.navbar-item {
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.navbar-item:hover {
  background-color: #444;
}



/* NAVBAR END */