@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #ebebeb;
}
/* NAVBAR START */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  position: relative;
  z-index: 999;
}

.home {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.home:hover {
  background-color: #444;
}

.logo-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 75%;
  object-fit: contain;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  float: left;
  margin-right: 10px;
}
.logo-image:hover {
  background-color: lightblue;
}

.navbar-menu {
  display: flex;
  text-align: center;
}

.fa-instagram{
  margin-right: 8rem;
}
.navbar-item {
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.navbar-item:hover {
  background-color: #444;
}
/* NAVBAR END */

/* NEWS START */
.news-container {

}

.eachNews-card{
display: flex;
border: 1px solid black;
margin: 10px;
border-radius: 5px;
padding: 10px;
align-items: center;
}


.newsImg {
  width: 35%;
  border-radius: 5px;
  margin: 5px;
}
.eachNews-h1 {
  font-size: 1rem;
  margin: 0;
}
.fa-tiktok {
  color: #fff;
  font-size: 36em;
  text-shadow: 15px 15px #ff3353fc,
         -15px -15px cyan;
}
.newsDate {
  font-size: 12px;
  color: gray;
}
.news-info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.read-btn {
  display: inline-block;
  padding: 0.3rem 1rem;
  font-size: 0.5rem;
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.read-btn:hover {
  background-color: #0062cc;
}

.read-btn:active {
  transform: translateY(1px);
}

@media screen and (max-width: 768px) {
  .eachNews-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    }
    .eachNews-h1 {
      text-align: center;
    }
    .newsImg {
      width: 100%;
      border-radius: 5px;
      margin: 5px;
      object-fit: contain;
    }
}

.current-news {
  text-align: center;
}

.news-pics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  width: 24rem;
  height: 15rem;
  border-radius: 5px;
  background-color: rgb(51,51,51);
}
.news-pics-container img {
  width: 23rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 5px;
}


.newsheader-pic {
  display: flex;
  flex-direction: column;
    align-items: center;
}
/* NEWS END */

/* STANDINGS START */

.standings-table-div {
  overflow-x: scroll;
}

.standings-table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.standings-table thead {
  background-color: #333;
  color: #fff;
}

.standings-table th, .standings-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.standings-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.standings-table tr:hover {
  background-color: #ddd;
}

.standings-table th:first-child, .standings-table td:first-child {
  text-align: center;
}
.team-name-h1 {
  text-align: center;
}
@media (max-width: 768px) {
  .standings-table {
    font-size: 12px;
  }
}


/* STANDINGS END */

/* LEADERS START */

.leaders-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.leaders-each-container{
  border: 1px solid rgb(0,89,222);
  border-radius: 5px;
  width: 23rem;
  margin: 10px;
  height: 24rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaders-card-div {
  display: flex;
  align-items: center;
  width: 100%; /* Add this line */
  justify-content: space-between;
  margin: 4px;

}

.leaders-team-name {
font-size: 12.5px;

}

.name-team-div {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaders-image {
  border-radius: 50%;
  border: 2px solid rgb(0,89,222);
}
.leaders-player-name {
  font-weight: bold;
  color: rgb(0,89,222);
  line-height: 0;
  font-size: 14px;
}

.leaders-team-name {
  line-height: 0;
  font-size: 12px;
}
.leader-h1 {
  background-color: rgb(0,89,222);
  border-radius: 20px;
  padding: 9px;
  color: white;
  font-style: italic;
  font-size: 21px;
}
/* LEADERS END */


/* FOOTER START */
.footer-div {
  color: white;
  background-color: rgb(51,51,51);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-logo {
  border-radius: 50%;
  width: 2rem;
  cursor: pointer;
}
.footer-youtube {
  width: 2rem;
  cursor: pointer;
}
.footer-instagram{
  width: 2rem;
  cursor: pointer;
}
.footer-tik-tok {
  width: 2rem;
  cursor: pointer;
}


/* FOOTER END */

